.divFormHome {
    position: absolute;
    background-color: #2EC4B6;
    width: 100%;
    height: 800px;
    margin-top: 1780px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divTextFormHome {
    float: left;
    width: 540px;
    padding-top: 229px;
    padding-bottom: 229px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2FormHome {
    font-size: 40px;
    color: #1C2C40;
    text-align: center;
    padding-bottom: 15px;
}

.pFormHome {
    line-height: 32px;
    color: #1C2C40;
    width: 450px;
}

.divStartNow {
    background-color: #B1EDE8;
    width: 550px;
    height: 600px;
    float: right;
    padding-top: 31px;
}

label {
    font-size: 16px;
    color: #6F7482;
    margin-left: 45px;
    margin-right: 45px;
}

label:after {
    content: '*';
    color: #ED0131;

}

input {
    width: 460px;
    height: 45px;
    border-radius: 4px;
    background-color: #F8FAFC;
    font-size: 16px;
    border-color: #F8FAFC;
    color: #6F7482;
    margin-bottom: 27px;
    margin-left: 45px;
    margin-right: 45px;
}

.error {
    color: #ED0131;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 27px;
    margin-top: -20px;
    font-size: 15px;
}

.buttonFormHome {
    margin-top: 10px;
    margin-left: 182px;
    margin-right: 182px;
    min-width: 184px;
}