.divFormHome {
    position: absolute;
    background-color: #2EC4B6;
    width: 100%;
    height: 630px;
    margin-top: 1820px;
}

.divTextFormHome {

    float: left;
    width: 540px;
    padding-top: 229px;
    padding-bottom: 229px;
    padding-left: 10px;
    margin: 10px;
}

.h2FormHome {
    font-size: 40px;
    color: #1C2C40;
    text-align: center;
    padding: 15px;
}

.pFormHome {
    line-height: 32px;
    color: #1C2C40;
    width: 450px;
    padding-left: 45px;
}

.divStartNow {
    background-color: #B1EDE8;
    width: 550px;
    height: 527px;
    float: right;
}