// Variables
$list-style-navbar: none;
$color-blue-navbar: #0006BC;

.ulNavbar {
    list-style: $list-style-navbar;
    text-align: center;
}

.navNavbar {
    position: fixed;
    background-color: $color-blue-navbar;
    display: flex;
    height: 72px;
    width: 100%;
    justify-content: left;
    align-items: center;
    z-index: 1;
}

.imgNavbar {
    height: 62px;
    padding: 0 132px;
}