// Variables
$color-blue: #0100be;
$color-red: #fd0235;
$color-white: #ffffff;
$color-red-hover: #ffccd7;
$color-font-hover: #fd0235;

$font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Styles
button {
  background-color: $color-red;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 132px;
}

button:hover,
button:focus {
  background-color: $color-red-hover;
  color: $color-font-hover;
}