.divProducts {
    position: absolute;
    top: 100px;
    left: 5%;
    width: 90%;
    height: 75%;
    color: #1C2C40;
}

.buttonNewProduct {
    position: absolute;
    top: 30px;
    right: 10%;
}

.divProduct1 {
    background-color: #B1EDE8;
    position: absolute;
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
    border-radius: 1%;
    display: grid;
    grid-template-columns: 2fr 10px 1fr 1fr 1fr 1fr 10px;
    align-items: center;
}

.divProduct2 {
    background-color: #B1EDE8;
    position: absolute;
    width: 100%;
    height: 150px;
    margin-top: 170px;
    border-radius: 1%;
    display: grid;
    grid-template-columns: 2fr 10px 1fr 1fr 1fr 1fr 10px;
    column-gap: 0;
    align-items: center;
}

.divProduct3 {
    background-color: #B1EDE8;
    position: absolute;
    width: 100%;
    height: 150px;
    margin-top: 340px;
    border-radius: 1%;
    display: grid;
    grid-template-columns: 2fr 10px 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-right: 30px;
}

.h2Product {
    grid-column: 1 / 1;
    width: 80%;
    text-align: center;
    font-weight: 400;
    margin-left: 30px;
}

.buttonDownload {
    grid-column: 3 / 3;
}

.buttonUpdate {
    grid-column: 4 / 4;
}

.buttonDelete {
    grid-column: 5 / 5;
}

.buttonPermissions {
    grid-column: 6 / 6;
}