.divProducts {
    position: absolute;
    top: 100px;
    left: 5%;
    width: 90%;
    height: 75%;
    color: #1C2C40;
}

.inputSearch {
    position: absolute;
    top: 17px;
    left: 5%;
    padding-left: 20px;
    border-radius: 20px;
}

.buttonNewProduct {
    position: absolute;
    top: 30px;
    right: 10%;
    background-color: #12b76a;
    color: #ffffff;
}

.buttonNewProduct:hover,
.buttonNewProduct:focus {
    background-color: #a6f4c5;
    color: #027a48;
}

.divProduct1 {
    background-color: #adb9d1;
    position: absolute;
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    border-radius: 1%;
    display: flex;
    align-items: center;
    line-height: 32px;
}

.divProduct2 {
    background-color: #adb9d1;
    position: absolute;
    width: 100%;
    height: 100px;
    margin-top: 130px;
    border-radius: 1%;
    display: flex;
    align-items: center;
    line-height: 32px;
}

.divProduct3 {
    background-color: #adb9d1;
    position: absolute;
    width: 100%;
    height: 100px;
    margin-top: 260px;
    border-radius: 1%;
    margin-right: 30px;
    display: flex;
    align-items: center;
    line-height: 32px;
}

.h2Product {
    float: left;
    width: 40%;
    text-align: center;
    font-weight: 400;
    margin: auto 5%;
    font-size: 17px;
}

.divButtons {
    position: relative;
    width: 60%;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: center;

}

.buttonDownload {
    grid-column: 1 / 1;
    background-color: #0ba5ec;
    color: #ffffff;
}

.buttonDownload:hover,
.buttonDownload:focus {
    background-color: #b9e6fe;
    color: #026aa2;
}

.buttonUpdate {
    grid-column: 2 / 2;
    background-color: #0ba5ec;
    color: #ffffff;
}

.buttonUpdate:hover,
.buttonUpdate:focus {
    background-color: #b9e6fe;
    color: #026aa2;
}

.buttonPermissions {
    grid-column: 3 / 3;
    background-color: #0ba5ec;
    color: #ffffff;
}

.buttonPermissions:hover,
.buttonPermissions:focus {
    background-color: #b9e6fe;
    color: #026aa2;
}

.buttonDelete {
    grid-column: 4 / 4;
    background-color: #f04438;
    color: #ffffff;
}

.buttonDelete:hover,
.buttonDelete:focus {
  background-color: #fecdca;
  color: #b42318;
}